/********* Load Comforta Font from Google API **********/
@import url("//fonts.googleapis.com/css?family=Comfortaa");

/********* Top-Level Color Settings *********/
@import url("/styles/master.css");
html {
}

body {
    /* Needs Comfortaa loaded from Google Font API */
    font-family: 'Comfortaa';
    padding: 0 0 0 0;
}

img.svg {
	display : none ; 
}

.safari img.svg { 
	display : block ;
}

.safari object.svg { 
	display : none ;
}

div#outer {
    width: 500pt;
    background-color : #828282;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

div.center {
    text-align : center;
}

div#logo {
    background-color : #824444;
    padding-top : 5pt;
    margin-left: auto;
    margin-right: auto;
    text-align : center;
    height : 65pt;
} 

object.logobanner {
     width : 50%;
}

img.logobanner {
    margin-left: auto;
    margin-right: auto;
    width : 50%;
}

div#content {
  margin-left: 20%;
  margin-right: 0%;
  color : cyan;
  background-color:#444482;
}

/* Navbar Content */

div#navbar {
    width: 16%;
	float: left;
	margin: 0;
	padding: 0;
	padding-left: 2%;
	padding-right: 2.15%;
    background-color:#448244;
	color : white;
}

div#navbar > div {
    font-size: 12px;
    padding : 5px;
    text-shadow: 4px 4px 4px #aaa;
}

div#navbar > div:hover {
    text-decoration:underline;
}