/********* Load Comforta Font from Google API **********/
@import url("//fonts.googleapis.com/css?family=Comfortaa");

/********* Top-Level Color Settings *********/
@import url("/styles/master.css");

/********* Footer Style *********/
@import url("/styles/footer.css");

svg {
  stroke: cyan;
  fill: cyan;
}

body {
	/* Needs Comfortaa loaded from Google Font API */
	font-family: 'Comfortaa';
}

#content {
  color : black;
  text-align: center;
}

.center {
	text-align : center;
}
